<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <handlers>
      <add name="iisnode" path="build/bundle-server.js" verb="*" modules="iisnode" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="build/bundle-server.js" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear/>
        <rule name="Static Assets" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
          <action type="Rewrite" url="/{R:1}"/>
        </rule>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="build/bundle-server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
